.main{
  height: calc(100vh - 4rem);
  overflow: hidden;
  background-color: black;
  display:flex;
  flex-direction: column;
}
.imgContainer{
display:flex;
flex-direction: column;
flex-grow:1;
justify-content: center;
}
.img{
  width:100%;
  max-height: calc(100vh - 4rem - 150px)
}