.image{
  height:100vh;
  background-image: url('../../assets/images//casualencounterlight.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color:black;
  background-position: center;
}
.carousel{
  height:25vh;
  background-color:green;
}
.container{
  height: 100vh;
}