.footer{
  display:flex;
  background-color: #F412CF
}
.social{
  display:flex;
  list-style:none;
  align-items: center;
  width:100%;
  li{
    margin-left:1rem;
  }
  a{
    color: inherit;
  }
}

.social li:last-child{
  margin-left:auto;
  text-align: right;
  margin-right: 2rem;
  font-size: .75rem;
}